homepage:
  enableRbac: true
  env:
    - name: HOMEPAGE_ALLOWED_HOSTS
      value: portal.[{ env "env_domain" }]
  serviceAccount:
    create: true
  ingress:
    main:
      enabled: true
      ingressClassName: private-traffic
      labels:
        access: private
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
      tls:
        - hosts:
          - portal.[{ env "env_domain" }]
          secretName: tls-homepage-ingress-dns
      hosts:
        - host: portal.[{ env "env_domain" }]
          paths: 
            - path: /
              pathType: Prefix

  config:
    bookmarks:
    services:
    - Infrastructure:
      - Vault:
          href: https://vault.graytonward.com
          icon: truenas
    - Streaming:
      - Twitch:
          href: https://dashboard.twitch.tv/u/graytonio/home
          icon: twitch
      - YouTube:
          href: https://studio.youtube.com/channel/UCYVRYd86F-3zLtyIIyyfrWQ
          icon: youtube
    - Operations:
      - GitOps:
          href: https://github.com/graytonio/homelab-flagops-templates/tree/main
          description: GitOps Templates
          icon: github
      - Grafana:
          href: https://graytonward.grafana.net/
          description: See metrics and alerts
          icon: grafana
      - Flagsmith:
          href: https://app.flagsmith.com/
          description: Change Homelab Configurations
          icon: https://miro.medium.com/v2/resize:fit:2400/1*fuSgB1AynocvAE7iBgHdOA.png
    - Home:
      - HomeAssistant:
          href: https://home.graytonward.com
          description: Home Dashboard
          icon: home-assistant-alt
      - Unifi:
          href: https://unifi.ui.com/
          description: Unifi Cloud Management Portal
          icon: unifi
    widgets:
      - kubernetes:
          cluster:
            show: true
            cpu: true
            memory: true
            showLabel: true
            label: "cluster"
          nodes:
            show: true
            cpu: true
            memory: true
            showLabel: true
      - longhorn:
          expanded: true
          total: true
          labels: true
          nodes: true
    kubernetes:
      mode: cluster
    settings:
      providers:
        longhorn:
          url: http://longhorn-frontend.longhorn.svc
