longhorn:
  persistence:
    defaultClass: [{ env "longhorn_storageclass_enabled" }]

  helmPreUpgradeCheckerJob:
    enabled: true

  preUpgradeChecker:
    jobEnabled: true

  ingress:
    host: longhorn.[{ env "env_domain" }]