apiVersion: v2
name: traefik
description: Ingress Controller for Kubernetes
type: application
version: 0.1.0
dependencies:
  - name: traefik
    repository: https://traefik.github.io/charts
    version: 38.0.2
    alias: publicingress
  - name: traefik
    repository: https://traefik.github.io/charts
    version: 38.0.2
    alias: privateingress
  - name: cert-manager
    repository: https://charts.jetstack.io
    version: v1.19.2
    condition: acme.enabled